@use "sass:map";
@use "sass:meta";

@function color($color: null, $variants: null) {
    @return (
        type:     "color",
        color:    $color,
        variants: $variants
    );
}

@function cs-is($colorset, $name, $type) {
    @return map.get(map.get($colorset, $name), "type") == $type;
}

@mixin cs-each($colorset) {
    @each $name, $color in $colorset {
        @content($name);
    }
}

@function csc-get-color($colorset, $name, $variant: null, $default: null) {
    @if map.has-key($colorset, $name) {
        @if $variant { 
            @return map.get(csc-get-variants($colorset, $name), $variant);
        } @else {
            @return map.get(map.get($colorset, $name), "color");
        }
    } @else {
        @return $default;
    }
}

@function csc-get-variants($colorset, $name) {
    @return map.get(map.get($colorset, $name), "variants");
}

@function csc-has-variants($colorset, $name) {
    @return map.get(map.get($colorset, $name), "variants") != null;
}
