@mixin apply($s) {
	[class^=app-] {
		>[class^=container-] {
			display: none;
		}

		&:has(>[class^=container-]) {
			//[class^=channelTextArea]>[class^=scrollableContainer-] {
			//	background-color: var(--red-900);
			//}
			border-top: var(--red-700) 5px solid;
			
			>[class^=app-] {
				top: 5;
				//bottom: 2;
				//right: 2;
				//left: 2;
				
				>[class^=bg-] {
					//bottom: 2;
					//border: var(--red-900) 2px solid;
				}

				>[class^=layers-]>[class^=layer-]>[class^=container-] {
					height: calc(100% - 4px);
				}
			}
		}
	}
}
