@mixin apply($s) {
	[class^=imageAccessory-] {
		// move star back where it belongss
		left: unset;
		right: 6px;

		// make the favorite gif button black and white
		[class*=selected-] svg, svg:hover {
			filter: invert(100%) grayscale(100%) brightness(500%);
		}
  	}

  /*// fix attachment borders
    [class^=mediaAttachmentsContainer-] {
        &, [class*=oneByOneGridSingle-]  {
            border-radius: 2px;
        }

        [class*=oneByOneGridSingle-] [class*=hoverButtonGroup-] {
            background:    linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); 
            border-radius: 0;

            top:              0px;
            right:            0px;
            left:             0px;
            padding:          8px;
            padding-bottom:   0px;

            [class*=hoverButton-] {
                margin-left: auto; // sit comfortably on the right

                &:hover {
                    background-color: transparent;
                }
            }

            [class*=downloadHoverButtonIcon-] {
                height: 28px;
                width:  28px;
            }

            [class*=removeAttachmentHoverButton-] {
                display: none;
            }
        }
    }*/
}
