@use '../util/colorset' as cs;
@use '../util/font';

@mixin apply($s) {
    @include cs.cs-each($s) using ($name) {
        @if cs.cs-is($s, $name, "font") {
            @each $style in cs.csf-get-styles($s, $name) {
                @each $width in cs.csf-get-widths($s, $name) {
                    @font-face {
                        font-family: cs.csf-get-name($s, $name);
                        font-style:  $style;
                        font-weight: $width;
                        src: url("https://toxicaven.dev/assets/#{cs.csf-get-name($s, $name)}-#{$width}-#{$style}.woff2") format("woff2");
                    }
                }
            }

            :root {
                --#{$name}: "#{cs.csf-get-name($s, $name)}", #{cs.csf-get-class($s, $name)} #{if(cs.csf-get-important($s, $name), !important, "")};
            }
        }
    }
}