$black-500: #1f1f1f;
$black-560: #181818;
$black-600: #121212;
$black-630: #0f0f0f;
$black-660: #0b0b0b;
$black-700: #080808;
$blue-500:  #404080;
$blue-600:  #303060;
$blue-700:  #202040;
$blue-800:  #101020;