@use "images.scss";
@use "mdi.scss"     as mdi;
@use "colors"       as *;
@use "sass:color";

@mixin aven_font($name, $styles, $widths) {
    @each $style in $styles {
        @each $width in $widths {
            @font-face {
                font-family: $name;
                font-style:  $style;
                font-weight: $width;
                src:         url("https://toxicaven.dev/assets/" + $name + "-" + $width + "-" + $style + ".woff2") format("woff2");
            }
        }
    }
}

@mixin discord_color($name, $color) {
    --#{$name}:     #{$color};
    --#{$name}-rgb: #{red($color)}, #{blue($color)}, #{green($color)};
}

@include aven_font("Whitney",          normal italic, 300 400 500 600 700);
@include aven_font("ABC Ginto Normal", normal italic,     400 500     700);

:root, .default-colors {
    // fix fonts
    --font-primary: Whitney,            sans-serif !important;
    --font-display: "ABC Ginto Normal", sans-serif !important;

    // add darker colors
    @include discord_color(primary-dark-500, $black-500);
    @include discord_color(primary-dark-560, $black-560);
    @include discord_color(primary-dark-600, $black-600);
    @include discord_color(primary-dark-630, $black-630);
    @include discord_color(primary-dark-660, $black-660);
    @include discord_color(primary-dark-700, $black-700);

    // this shit is annoying
    --profile-body-background-color: var(--background-secondary-alt);

    // scrollbar gets special treatment
    --scrollbar-thin-thumb: #202020;
    --scrollbar-auto-thumb: #202020;
    --scrollbar-auto-track:   transparent;

    // mentions a bit nicer
    --background-mentioned:       #{color.adjust($blue-500, $alpha: -0.90)};
    --background-mentioned-hover: #{color.adjust($blue-500, $alpha: -0.92)};
    --mention-background:         #{color.adjust($blue-500, $alpha: -0.60)};
}

[class*=mentioned-]::before {
    background-color: $blue-500;
}

// BETA BETA shut upp
[class=textBadge-1fdDPJ\ base-3IDx3L\ eyebrow-132Xza\ baseShapeRound-3epLEv] {
    display: none;
}

// fix attachment borders
[class^=mediaAttachmentsContainer-] {
    &, [class*=oneByOneGridSingle-]  {
        border-radius: 2px;
    }

    [class*=oneByOneGridSingle-] [class*=hoverButtonGroup-] {
        background:    linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); 
        border-radius: 0;

        top:              0px;
        right:            0px;
        left:             0px;
        padding:          8px;
        padding-bottom:   0px;

        [class*=hoverButton-] {
            margin-left: auto; // sit comfortably on the right

            &:hover {
                background-color: transparent;
            }
        }

        [class*=downloadHoverButtonIcon-] {
            height: 28px;
            width:  28px;
        }

        [class*=removeAttachmentHoverButton-] {
            display: none;
        }
    }
}

[class^=imageAccessory-] {
    // move star back where it belongss
    left:  unset;
    right: 6px;

    // make the favorite gif button black and white
    [class*=selected-] svg, svg:hover {
        filter: invert(100%) grayscale(100%) brightness(500%);
    }
}

// make nitro tab in settings less flashy
[aria-label=Nitro] > [class*=premiumLabel-] {
    color: #DEADDD00;

    &:before {
        color:    var(--interactive-normal);
        content: "10$ for a gif in my pfp???";
    }
}

// remove command and thread attachment buttons :/
#channel-attach-THREAD, #channel-attach-SLASH_COMMAND {
    display: none;
}

// slate buttons
[class^=channelTextArea-] [class^=buttons-] {
    // remove nitro and sticker buttons
    >:nth-child(1), >:nth-child(3) {
        display: none;
    }
}

// nobody cares 
[id^=popout_] [class*=upsellTooltipWrapper-] {
    display: none;
}

// remove nitro tab in dm list
.content-2a4AW9>li:nth-of-type(2) { display:none; }

// remove crisis line advert
[class*=snowsgivingLink-] { display: none; }

// make user profile toast a solid color (stupid discord...)
[class^=userPopoutInner-] {
    --profile-avatar-border-color: var(--profile-body-background-color);
    
    background: var(--profile-body-background-color);
}

[class^=overlayBackground-] {
    margin: 21px 0px 0px;
}

// transgender british flag
[class^=inspector-] img[alt=\:flag_gb\:], [data-type=emoji]:is([data-name=\:flag_gb\:],[data-name=flag_gb]) {
    -moz-box-sizing: border-box;
    box-sizing:      border-box;
    background:      url(images.$betterbong) no-repeat;

    width:           1.375em;
    height:          1.375em;
    padding-left:    1.375em;

    &:is(img) {
        width:        22px;
        height:       22px;
        padding-left: 22px;
    }

    &.jumboable {
        width:        3rem;
        height:       3rem;
        padding-left: 3rem;
    }

    &[class*=emojiItemMedium-] {
        width:  40px;
        height: 40px;
        margin: 4px;
    }

    div[class^=emojiSpriteImage] {
        display: none;
    }
}

// remove help button. you know you wont ever use it
[class^=toolbar-] {
    a[href=https\:\/\/support\.discord\.com], [aria-label=Notification\ Settings] {
        display: none;
    }
}

// collapsible search bar
[class^=search-]:not([class*=open-])>[class^=searchBar-] {
    width:      24px;
    background: transparent;

    >[class^=icon-] {
        // da hand
        cursor: pointer;

        // do some horrible stretching thing to make it look like a normal icon
        svg {
            width:  24px;
            height: 24px;

            margin-left: -3px;
            margin-top:  -3px;

            color: var(--interactive-normal);
        }

        // change color like a normal icon
        &:hover svg {
            color: var(--interactive-hover);
        }
    }
}

// (subjectively) less intrusive mentions
[class^=sidebar-] {
    [class*=unreadTop-], [class*=unreadBottom-] {
        display:         flex;
        justify-content: right;
        padding-right:   0px;
    }

    [class*=unreadTop-] [class*=unreadBar-] {
        background-image: url(mdi.$up-arrow-thin-w);
    }
    
    [class*=unreadDown-] [class*=unreadBar-] {
        background-image: url(mdi.$down-arrow-thin-w);
    }

    [class*=unreadBar-] {
        // background space
        background-size:     20px 20px;
        background-repeat:   no-repeat;
        background-position: 15px 0.0px;

        // bulletification
        padding: 0;
        padding-right: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;

        span {
            font-size: 0px;
            position:  relative;
            &::after {
                position:   absolute;
                top:        0px;
                left:       0px;

                font-size:  12px;
                content:    "!";
            }
        }
    }

    .container-24rGVp {
        justify-content: right;

        [class*=mentionsBar-] {
            background-size:     20px 20px;
            background-repeat:   no-repeat;
            background-position: 15px 0.0px;
        }

        &[class*=top-] [class*=mentionsBar-] {
            background-image: url(mdi.$up-arrow-thin-w);
        }

        &[class*=bottom-] [class*=mentionsBar-] {
            background-image: url(mdi.$down-arrow-thin-w);
        }

        [class*=mentionsBar-] {
            // makes the pill a bullet
            padding: 0;
            padding-right: 15px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            >div {
                // makes it round
                padding:      0;
                text-align:   center;
                line-height:  20px;
                width:        20px;
                height:       20px;

                // gets the funny number
                --status-danger-text-real: var(--status-danger-text);
                --status-danger-text: #00000000;
                font-size: 0px;
                word-spacing: 1000px;
                &::first-line {
                    color:        var(--white-500);
                    word-spacing: 0px;
                    font-size:    12px;
                    font-weight:  700;
                }
            }
        }
    }
}