$version: 1;
$colorset: (
	primary-dark: (
		500: #1f1f1f,
		560: #181818,
		600: #121212,
		630: #0f0f0f,
		660: #0b0b0b,
		700: #080808
	),

	scrollbar-thin-thumb: #202020,
	scrollbar-auto-thumb: #202020,
	scrollbar-auto-track: #00000000,
);
