@use "sass:color" as s_color;
@use "../util/colorset" as *;

$config: (
	font-primary: font("aven", $name: "Whitney",          $styles: normal italic, $widths: 300 400 500 600 700, $class: sans-serif, $important: true),
	font-display: font("aven", $name: "ABC Ginto Normal", $styles: normal italic, $widths:     400 500     700, $class: sans-serif, $important: true),

    background-primary:       color(#e0e0e0),
    background-secondary:     color(#d8d8d8),
    background-secondary-alt: color(#d4d4d4),
    background-tertiary:      color(#d0d0d0),

    input-background: color(#cacaca),

    interactive-normal: color(#282828),
    interactive-active: color(#002ba1),

    channels-default:  color(#101010),
    channels-unread:   color(#101020),
    channels-selected: color(#101010),
    channels-hover:    color(#101010),

    scrollbar-thin-thumb: color(#202020),
	scrollbar-auto-thumb: color(#202020),
	scrollbar-auto-track: color(#00000000),

    pill-mentioned:             color(s_color.adjust(#404080)),
	background-mentioned:       color(s_color.adjust(#404080, $alpha: -0.80)),
    background-mentioned-hover: color(s_color.adjust(#404080, $alpha: -0.72)),
    mention-background:         color(s_color.adjust(#404080, $alpha: -0.80)),
    mention-foreground:         color(#202080),

    reaction-background: color(#d0d0d0),
);
